{% extends 'base.html' %}
{% block content %}
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.name.label }} {{ form.name(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.position.label }} {{ form.position(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.nil_value.label }} {{ form.nil_value(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.team_id.label }} {{ form.team_id(class="form-control") }}
    </div>
    <button class="btn btn-success">Submit</button>
</form>
{% endblock %}
